name: Build and Publish Whatsweb
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
  create:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # Se activa al crear un tag como v1.2.3
jobs:
  build-and-publish:
    name: Build & Publish for ${{ matrix.ut_version }} (${{ matrix.arch }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
         build: [Release]
         arch: [arm64]
         ut_version: ['20.04', 'ut24.04-1.x']
    steps:
      # 1. Descarga el código de tu repositorio
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # 2. Configura Docker
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # 3. Compila el paquete .click
      - name: Build .click package
        env:
          BUILD_TYPE: ${{ (matrix.build == 'Debug') && '--debug' || '' }}
        run: |
          docker run \
            --rm \
            -v $(pwd)/whatsweb:/app \
            -e BUILD_TYPE \
            clickable/ci-${{ matrix.ut_version }}-${{ matrix.arch }} \
            sh -c "cd /app && clickable build --verbose ${BUILD_TYPE}"
      # 4. Sube el paquete .click como un artefacto
      - name: Upload .click artifact
        uses: actions/upload-artifact@v4
        with:
          name: "whatsweb-${{ matrix.arch }}-${{ matrix.ut_version }}"
          path: "whatsweb/build/*/app/*.click"
          if-no-files-found: ignore
      # 5. Publica en la OpenStore
      - name: Publish to OpenStore
        if: startsWith(github.ref, 'refs/tags/v') || (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/master')
        env:
          OPENSTORE_API_KEY: ${{ secrets.OPENSTORE_TOKEN }}
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"

          # Si el workflow se ejecuta por un tag, intentamos obtener su descripción
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            DESC=$(git for-each-ref "refs/tags/$TAG_NAME" --format='%(contents)')
          else
            # Si no es tag, usamos el último mensaje de commit
            DESC=$(git log -1 --pretty=%B | head -1)
          fi

          echo "Descripción usada para publicar:"
          echo "$DESC"
          docker run \
            --rm \
            -v $(pwd)/whatsweb:/app \
            -e OPENSTORE_API_KEY \
            clickable/ci-${{ matrix.ut_version }}-${{ matrix.arch }} \
            sh -c "cd /app && clickable publish \"$(printf '%s' "$DESC")\""
